# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/tucan-script-core/x64
*.vcxproj
*.user
*.filters
*.recipe
*.ilk
*.log
*.tlog
*.pdb
*.idb
*.exp
*.sln
